/* Global styles */
.App {
  font-family: 'Arial', sans-serif;
  background-color: #f7f8fc;
  color: #333;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  background-color: #28334A;
  color: #FFF;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Header styles */
.App-header {
  background-color: #4C5B75;
  color: white;
  padding: 5rem 0;
  text-align: center;
}

/* Dropdown Menu styles */
.login-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.login-dropdown:hover .dropdown-content {
  display: block;
}

.login-dropdown .dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.login-dropdown .dropbtn:hover {
  background-color: #ddd;
}

/* Phone Selection, Services and Testimonials styles */
.phone-selection, .services, .testimonials {
  padding: 4rem 5%;
  text-align: center;
}

.phone-selection .dropdowns select {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}

.phone-selection .search-button {
  display: inline-block;
  padding: 1rem 2rem;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
}

.services .service {
  display: inline-block;
  width: 45%;
  margin: 1%;
  padding: 2rem;
  background-color: #FFF;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.services .service img {
  max-width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.testimonials .testimonial {
  background-color: #FFF;
  padding: 2rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Footer styles */
.App-footer {
  background-color: #28334A;
  color: white;
  padding: 2rem 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content .social-media a img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* Media Queries for Responsiveness */
/* Mobile devices */
@media (max-width: 767px) {
  .nav-links a {
    display: block;
    margin: 10px 0;
  }

  .services .service {
    display: block;
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-content .social-media {
    margin-top: 10px;
  }
}

/* Tablet devices */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-links a {
    margin: 0 10px;
  }

  .services .service {
    width: 48%;
  }
}

/* Desktop devices */
@media (min-width: 1025px) {
  .nav-links a {
    margin-left: 20px;
  }

  .services .service {
    width: 45%;
  }
}
